<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <title>Admins</title>
    <link rel="stylesheet" href="">

</head>
<body sec:authorize="hasRole('SUPER_ADMIN')">
<section th:replace="~{fragments :: navbar}"></section>

<div class="col-md-8" style="margin:10px auto 5px">
    <a class="btn custom_update_btn" style="margin:10px 3px 5px"
       th:href="@{'/users/admin'}">All</a>
    <a class="btn custom_update_btn" style="margin:10px 3px 5px"
       th:href="@{'/users/admin?role=ADMIN'}" th:text="Admins"/>
    <a class="btn custom_update_btn" style="margin:10px 3px 5px"
       th:href="@{'/users/admin?role=USER'}" th:text="Users"/>
</div>

<div class="row">
    <div class="col-md-8" style="margin: auto">
        <table class="table table-striped" style="margin-top: 20px">
            <thead>
            <tr style="width: 100%">
                <th style="width: 2%">T/r</th>
                <th style="width: 10%">First Name</th>
                <th style="width: 25%">Last Name</th>
                <th style="width: 13%">Phone Number</th>
                <th style="width: 13%">Role</th>
                <th style="width: 13%">Status</th>
                <th style="width: 13%">Created At</th>
                <th style="width: 12%">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,cnt : ${users}">
                <td th:text="${cnt.count}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.status}"></td>
                <td th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                <td>
                    <a th:href="@{'/users/admin/update/promote/'+${user.id}}" class="btn custom_update_btn"
                            th:if="${user.role.name().toUpperCase().equals('USER')}">
                        Promote
                    </a>
                    <a th:href="@{'/users/admin/update/promote/'+${user.id}}" class="btn custom_update_btn"
                            th:if="${user.role.name().toUpperCase().equals('ADMIN')}">
                        Take
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script th:src="@{/js/main.js}"></script>
<section th:replace="~{fragments :: js_links}">
</section>
</body>
</html>